<p style="color: green"><%= notice %></p>

<h1>Users</h1>


<table border="true">
  <thead>
  <tr>
    <th>Code</th>
    <th>Prenom</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Code</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.code %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.rh %></td>
    <td><%= link_to "Show", user %></td>
  </tr>
  
  <% end %>

  </tbody>

</table>

<%= link_to "New user", new_user_path %>
